  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (max-width: 1024px) {
    .wrapper {
      padding: 0 30px;
    }
  }
  @media (max-width: 730px) {
    .wrapper {
      padding: 0 10px;
    }
  }

  .body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .logo_link {
    font-family: "Georgia";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #545454;
  }
  
  .subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #545454;
    padding-left: 4px;
    padding-top: 10px;
  }
  
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
  }
  
  .header_burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    border: none; 
    outline: none;
    padding: 0;
    background-color: inherit;
    z-index: 3;
  }
  
  .header_burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000000;
    transition: opacity .4s, transform .5s;
    will-change: transform;
    z-index: 3;
  }
  
  .header_burger-btn span:nth-child(1) {
    transform: translateY(-11px);
  }
  .header_burger-btn span:nth-child(2) {
    transform: translateY(-1px);
  }
  .header_burger-btn span:nth-child(3) {
    transform: translateY(9px);
  }
  
  // burger-menu open
  .header.open {
    .header_burger-btn span:nth-child(1) {
    transform: translateX(-10px) rotate(90deg);
    }
    .header_burger-btn span:nth-child(2) {
      transform: translateX(0) rotate(90deg);
    }
    .header_burger-btn span:nth-child(3) {
      transform: translateX(10px) rotate(90deg);
    }
  }
  
  .shadow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(41, 41, 41, 0.6);
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: 1;
    visibility: hidden;
  }
  
  .navbar-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .navbar-list-item {
    margin-right: 37px;
  }
  
  .navbar-list-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
  }
  
  .nav-link:focus, .nav-link:active {
    border-bottom: 3px solid #F1CDB3;
    transition: 0.3s;
    padding-bottom: 4px;
  }
  .second_link_2 {
    font-family: "Arial";
    padding-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
    cursor: default;
  }
  
  .nav-link:hover {
    color: #292929;
  }
  
.class {
  display: block;
}

@media (max-width: 767px) {
  .nav-menu {
    padding: 30px 10px;
  }
  .header_burger-btn {
    display: block;
  }
  
  .navbar {
    height: 100vh;
    transition: opacity .4s, transform .5s;
    position: absolute;
    right: -320px;
    top: 0;
    width: 320px;
    background-color: #ffffff;
    visibility: hidden;
    z-index: 2;
    transition: transform .5s, visibility .5s;
    will-change: transform;
    text-align: center;
  }
  .navbar-list {
    display: block;
    margin: 248px 0;
  }
  .nav-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color:#545454;
  }
  .second_link_2 {
    border-bottom: 3px solid #F1CDB3;
    text-decoration: none;
    color: #292929;
    cursor: default;
  }
  
  .navbar-list-item {
    display: block;
    margin: 0;
    padding-bottom: 40px;
  }
  .header.open .navbar {
    transform: translateX(-100%);
    visibility: visible;
  }
}