html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

.body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 730px) {
  .wrapper {
    padding: 0 10px;
  }
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia" sans-serif;
  src: url(../fonts/georgia/georgia-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 730px) {
  .wrapper {
    padding: 0 10px;
  }
}
.body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.logo_link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #545454;
}

.subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
  padding-left: 4px;
  padding-top: 10px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.header_burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  border: none;
  outline: none;
  padding: 0;
  background-color: inherit;
  z-index: 3;
}

.header_burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000000;
  transition: opacity 0.4s, transform 0.5s;
  will-change: transform;
  z-index: 3;
}

.header_burger-btn span:nth-child(1) {
  transform: translateY(-11px);
}

.header_burger-btn span:nth-child(2) {
  transform: translateY(-1px);
}

.header_burger-btn span:nth-child(3) {
  transform: translateY(9px);
}

.header.open .header_burger-btn span:nth-child(1) {
  transform: translateX(-10px) rotate(90deg);
}
.header.open .header_burger-btn span:nth-child(2) {
  transform: translateX(0) rotate(90deg);
}
.header.open .header_burger-btn span:nth-child(3) {
  transform: translateX(10px) rotate(90deg);
}

.shadow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(41, 41, 41, 0.6);
  opacity: 1;
  transition: opacity 0.4s ease;
  z-index: 1;
  visibility: hidden;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
}

.navbar-list-item {
  margin-right: 37px;
}

.navbar-list-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  color: #545454;
}

.nav-link:focus, .nav-link:active {
  border-bottom: 3px solid #F1CDB3;
  transition: 0.3s;
  padding-bottom: 4px;
}

.second_link_2 {
  font-family: "Arial";
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
  cursor: default;
}

.nav-link:hover {
  color: #292929;
}

.class {
  display: block;
}

@media (max-width: 767px) {
  .nav-menu {
    padding: 30px 10px;
  }
  .header_burger-btn {
    display: block;
  }
  .navbar {
    height: 100vh;
    transition: opacity 0.4s, transform 0.5s;
    position: absolute;
    right: -320px;
    top: 0;
    width: 320px;
    background-color: #ffffff;
    visibility: hidden;
    z-index: 2;
    transition: transform 0.5s, visibility 0.5s;
    will-change: transform;
    text-align: center;
  }
  .navbar-list {
    display: block;
    margin: 248px 0;
  }
  .nav-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #545454;
  }
  .second_link_2 {
    border-bottom: 3px solid #F1CDB3;
    text-decoration: none;
    color: #292929;
    cursor: default;
  }
  .navbar-list-item {
    display: block;
    margin: 0;
    padding-bottom: 40px;
  }
  .header.open .navbar {
    transform: translateX(-100%);
    visibility: visible;
  }
}
/* section pets styles start*/
.pets {
  background-color: #F6F6F6;
}

.pets_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pets_heading {
  font-family: "Georgia";
  font-style: normal;
  max-height: 877px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 80px 0 60px 0;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
}

.slider_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
}
.slider_item:nth-child(4), .slider_item:nth-child(8) {
  margin-right: 0;
}

.name {
  margin-top: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  opacity: 0.9;
}

.learn_more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: inherit;
  margin: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  opacity: 0.9;
}

.slider_item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider_item:hover .learn_more {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: 0.5s;
}

.pets_carousel_navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 100px;
}

.navigation_button {
  background-color: inherit;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin-right: 20px;
  padding: 0;
}
.navigation_button:last-child {
  margin-right: 0;
}
.navigation_button:nth-child(1), .navigation_button:nth-child(2) {
  border: 2px solid #CDCDCD;
}

.nav_button_element {
  display: flex;
  margin: 0 auto;
}

.navigation_button:nth-child(4):hover, .navigation_button:nth-child(5):hover {
  cursor: pointer;
  background: #FDDCC4;
  transition: 0.5s;
  border: 2px solid #FDDCC4;
}

.page_number {
  background: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}

@media (max-width: 1024px) {
  .pets_heading {
    margin-bottom: 30px;
  }
  .pets_content {
    padding: 0 94px;
  }
  .slider_item:nth-child(even) {
    margin-right: 0;
  }
  .slider_item:last-child, .slider_item:nth-last-child(2) {
    display: none;
  }
  .pets_carousel_navigation {
    margin-top: 10px;
    margin-bottom: 76px;
  }
}
@media (max-width: 730px) {
  .pets_heading {
    max-width: 300px;
    margin: 42px 0;
    font-size: 25px;
  }
  .pets_content {
    padding: 0 10px;
    margin: 0 auto;
  }
  .slider_item:nth-child(n+4) {
    display: none;
  }
  .carousel {
    justify-content: center;
  }
  .slider_item:nth-child(-n+4) {
    margin: 0 15px 30px;
  }
  .pets_carousel_navigation {
    margin: 12px 0 42px;
  }
  .navigation_button {
    margin-right: 10px;
  }
}
/* section pets styles end*/
/* section footer styles start*/
footer {
  background: url(../img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts_container {
  display: flex;
}

.footer_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.footer_locations, .footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 60px;
}

.footer_locations {
  max-width: 302px;
  margin-right: 160px;
  margin-left: 160px;
}

.email {
  padding: 45px 0;
}

.location_1 {
  padding: 33px 0;
}

.footer_element {
  display: flex;
  align-items: center;
}

.footer_text:hover {
  color: #FDDCC4;
  transition: 0.5s;
}

.footer_icon {
  padding-right: 20px;
}

.footer_text {
  display: flex;
  justify-content: space-around;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  .footer_locations, .footer_contacts {
    margin-top: 0;
  }
  .footer_locations {
    margin-right: 0px;
    margin-left: 60px;
  }
}
@media (max-width: 730px) {
  .contacts_container {
    flex-direction: column;
  }
  .footer_contacts {
    margin-bottom: 40px;
  }
  .footer_locations {
    margin: 0 0 40px;
  }
  .footer_title {
    font-size: 25px;
    text-align: center;
  }
  .footer_contacts_email {
    margin: 0 25px 8px;
  }
  .footer_contact_phone {
    margin: -15px 30px 0;
  }
  .footer_locations_boston {
    margin-top: 5px;
  }
  .footer_locations_london {
    margin-top: 7px;
  }
  .footer_puppy {
    margin: 0 30px;
    width: 260px;
    height: 269px;
  }
}
/* section footer styles end*//*# sourceMappingURL=pets.css.map */