html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

.body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia" sans-serif;
  src: url(../fonts/georgia/georgia-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 730px) {
  .wrapper {
    padding: 0 10px;
  }
}
/* header styles start*/
.header {
  position: absolute;
  left: 0;
  right: 0;
}

.logo_link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #F1CDB3;
}

.subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
  padding-left: 4px;
  padding-top: 10px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header_burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  border: none;
  outline: none;
  padding: 0;
  background-color: inherit;
  z-index: 3;
}

.header_burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  transition: opacity 0.4s, transform 0.5s;
  will-change: transform;
  z-index: 3;
}

.header_burger-btn span:nth-child(1) {
  transform: translateY(-11px);
}

.header_burger-btn span:nth-child(2) {
  transform: translateY(-1px);
}

.header_burger-btn span:nth-child(3) {
  transform: translateY(9px);
}

.header.open .header_burger-btn span:nth-child(1) {
  transform: translateX(-10px) rotate(90deg);
}
.header.open .header_burger-btn span:nth-child(2) {
  transform: translateX(0) rotate(90deg);
}
.header.open .header_burger-btn span:nth-child(3) {
  transform: translateX(10px) rotate(90deg);
}

.shadow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(41, 41, 41, 0.6);
  opacity: 1;
  transition: opacity 0.4s ease;
  z-index: 1;
  visibility: hidden;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
}

.navbar-list-item {
  margin-right: 35px;
}

.navbar-list-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  color: #CDCDCD;
}

.nav-link:focus, .nav-link:active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  transition: 0.3s;
  padding-bottom: 4px;
}

.first_link {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  cursor: default;
}

.nav-link:hover {
  color: #FAFAFA;
}

@media (max-width: 767px) {
  .nav-menu {
    padding: 30px 10px;
  }
  .header_burger-btn {
    display: block;
  }
  .navbar {
    height: 100vh;
    transition: opacity 0.4s, transform 0.5s;
    position: absolute;
    right: -320px;
    top: 0;
    width: 320px;
    background-color: #292929;
    visibility: hidden;
    z-index: 2;
    transition: transform 0.5s, visibility 0.5s;
    will-change: transform;
    text-align: center;
  }
  .navbar-list {
    display: block;
    margin: 248px 0;
  }
  .nav-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }
  .navbar-list-item {
    display: block;
    margin: 0;
    padding-bottom: 40px;
  }
  .header.open .navbar {
    transform: translateX(-100%);
    visibility: visible;
  }
}
/* header styles end*/
/* section start screen styles start*/
.not_only {
  padding-top: 180px;
  max-height: 908px;
  background: url(../img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.not_only_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not_only_content {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 73px;
}

.content_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: white;
}

.content_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin: 42px 0;
  opacity: 0.9;
}

.make_a_friend {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  opacity: 0.9;
  text-decoration: none;
  transition: 0.5s;
}

.make_a_friend:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.start_puppy {
  max-width: 58vw;
}

@media (max-width: 900px) {
  .not_only {
    max-height: 1165px;
    padding-top: 150px;
  }
  .not_only_container {
    display: flex;
    flex-direction: column;
  }
  .not_only_content {
    margin-bottom: 100px;
  }
  .not_only_button {
    display: flex;
    justify-content: center;
  }
  .start_puppy {
    max-width: 60vw;
    margin-left: 141px;
  }
}
@media (max-width: 768px) {
  .start_puppy {
    max-width: 74vw;
  }
}
@media (max-width: 730px) {
  .not_only {
    min-height: 673px;
  }
  .content_heading {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    width: 100%;
  }
  .content_subheading {
    text-align: center;
  }
  .start_puppy {
    max-width: 83vw;
    margin-left: 40px;
  }
}
/* section start screen styles end*/
/* section about styles start*/
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px 0;
}

.about_pets {
  margin-right: 120px;
  max-width: 300px;
}

.about_content {
  max-width: 430px;
}

.about_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 25px;
}

.about_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  opacity: 0.9;
}

.about_subheading:last-child {
  padding-top: 25px;
}

@media (max-width: 1130px) {
  .about_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about_content {
    margin-bottom: 80px;
  }
  .about_pets {
    margin: 0 auto;
    width: 39vw;
  }
}
@media (max-width: 730px) {
  .about_heading {
    font-size: 25px;
    text-align: center;
  }
  .about_container {
    padding: 42px 10px;
  }
  .about_content {
    text-align: justify;
    padding: 0 15px;
    margin-bottom: 42px;
  }
  .about_pets {
    width: 81vw;
  }
  .about_subheading:last-child {
    padding-top: 22px;
  }
}
/* section about styles end*/
/* section our friends styles start*/
.our-friends {
  background-color: #F6F6F6;
}

.our_friends_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.our_friends_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 80px 0 60px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  transform: translateX(0);
}

.slide-right {
  transform: translateX(100%);
}

.slide-left {
  transform: translateX(-100%);
}

.slider_item {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
  margin-left: 45px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: opacity 0.5s ease-in-out;
  width: 270px;
}

.slider_item.show {
  display: flex;
}

.name {
  margin-top: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  opacity: 0.9;
}

.learn_more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: inherit;
  margin: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  opacity: 0.9;
}

.slider_item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider_item:hover .learn_more {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: 0.5s;
}

.arrow_back, .arrow_forward {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-color: inherit;
}

.arrow_back:hover, .arrow_forward:hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: 0.5s;
}

.arrow_back {
  margin-right: 8px;
}

.arrow_forward {
  margin-left: 8px;
}

.rest_pets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 100px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  transition: 0.5s;
  text-decoration: none;
}

.rest_pets:hover {
  background: #FDDCC4;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .carousel {
    flex-wrap: wrap;
  }
  .slider_item {
    width: 270px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .arrow_back {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }
  .arrow_forward {
    margin-left: 0;
    margin-right: 0;
    float: right;
  }
}
@media (max-width: 767px) {
  .carousel {
    flex-wrap: wrap;
  }
  .our_friends_heading {
    max-width: 300px;
    margin: 42px 0;
    font-size: 25px;
  }
  .slider_item {
    margin-right: 25px;
    margin-left: 25px;
    width: 90%;
    margin-bottom: 18px;
  }
  .arrow_back, .arrow_forward {
    order: 2;
    margin: 0 40px;
  }
  .rest_pets {
    margin: 42px 0;
  }
}
/* section our friends styles end*/
/* section help styles start*/
.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 80px 0 60px 0;
}

.help_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.help_list_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
  margin-bottom: 55px;
}
.help_list_card:nth-child(5), .help_list_card:last-child {
  margin-right: 0;
}

.help_list_card:hover {
  cursor: pointer;
}

.help_name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help_item {
  padding-bottom: 30px;
}

@media (max-width: 1100px) {
  .help_list {
    display: grid;
    max-width: 630px;
    gap: 55px 60px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .help_list_card {
    margin: 0;
  }
  .help_list_card:nth-child(n+6) {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .help_heading {
    line-height: 110%;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin: 42px 0;
  }
  .help_list {
    display: grid;
    max-width: 89%;
    gap: 30px 30px;
    grid-template-columns: 130px 130px;
    margin: 0 auto;
    padding-bottom: 42px;
  }
  .help_item {
    padding-bottom: 20px;
    width: 50px;
  }
  .help_name {
    font-size: 15px;
    line-height: 110%;
  }
}
/* section help styles end*/
/* section in addition styles start*/
.in-addition {
  background-color: #F6F6F6;
}

.in_addition_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 90px 40px;
}

.in_addition_dog {
  margin-right: 30px;
  margin-bottom: 10px;
}

.in_addition_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.in_addition_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
}

.in_addition_subheading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
  cursor: default;
}

.in_addition_credit_card {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 349px;
  max-height: 43px;
  padding: 10px 15px;
  margin-bottom: 20px;
  background: #F1CDB3;
  border-radius: 9px;
}

.in_addition_credit_card_number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in_addition_legal_info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
  max-width: 380px;
}

@media (max-width: 950px) {
  .in_addition_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .in_addition_dog {
    margin-right: 5px;
    margin-top: 50px;
    min-width: 65.7vw;
  }
}
@media (max-width: 730px) {
  .in_addition_container {
    padding: 42px 10px;
  }
  .in_addition_heading {
    font-size: 25px;
    text-align: center;
  }
  .in_addition_subheading {
    letter-spacing: 0;
    justify-content: center;
    padding-bottom: 25px;
  }
  .in_addition_credit_card {
    margin: 0 10px 20px;
    width: 281px;
  }
  .in_addition_credit_card_number {
    font-size: 15px;
  }
  .in_addition_legal_info {
    text-align: justify;
    margin: 0 10px 42px;
  }
  .in_addition_dog {
    margin: 0 auto;
    width: 85%;
  }
}
/* section in addition styles end*/
/* section footer styles start*/
footer {
  background: url(../img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts_container {
  display: flex;
}

.footer_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.footer_locations, .footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 60px;
}

.footer_locations {
  max-width: 302px;
  margin-right: 160px;
  margin-left: 160px;
}

.email {
  padding: 45px 0;
}

.location_1 {
  padding: 33px 0;
}

.footer_element {
  display: flex;
  align-items: center;
}

.footer_text:hover {
  color: #FDDCC4;
  transition: 0.5s;
}

.footer_icon {
  padding-right: 20px;
}

.footer_text {
  display: flex;
  justify-content: space-around;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  .footer_locations, .footer_contacts {
    margin-top: 0;
  }
  .footer_locations {
    margin-right: 0px;
    margin-left: 60px;
  }
}
@media (max-width: 730px) {
  .contacts_container {
    flex-direction: column;
  }
  .footer_contacts {
    margin-bottom: 40px;
  }
  .footer_locations {
    margin: 0 0 40px;
  }
  .footer_title {
    font-size: 25px;
    text-align: center;
  }
  .footer_contacts_email {
    margin: 0 25px 8px;
  }
  .footer_contact_phone {
    margin: -15px 30px 0;
  }
  .footer_locations_boston {
    margin-top: 5px;
  }
  .footer_locations_london {
    margin-top: 7px;
  }
  .footer_puppy {
    margin: 0 30px;
    width: 260px;
    height: 269px;
  }
}
/* section footer styles end*//*# sourceMappingURL=shelter.css.map */