html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Arial";
  src: url(/shelter/fonts/arial/arial.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia" sans-serif;
  src: url("/fonts/georgia/georgia-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* header styles start*/
.header {
  position: absolute;
  left: 0;
  right: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo_link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #F1CDB3;
}

.subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
  padding-left: 4px;
  padding-top: 10px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
}

.navbar-list-item {
  margin-right: 35px;
}

.navbar-list-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  color: #CDCDCD;
}

.nav-link:focus, .nav-link:active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  transition: 0.7s;
  padding-bottom: 4px;
}

.first_link {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
}

.nav-link:hover {
  color: #FAFAFA;
}

/* header styles end*/
/* section start screen styles start*/
.not_only {
  padding-top: 180px;
  max-height: 908px;
  background: url(/shelter/img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.not_only_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not_only_content {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
}

.content_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: white;
}

.content_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin: 42px 0;
  opacity: 0.9;
}

.make_a_friend {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  opacity: 0.9;
  text-decoration: none;
}

.make_a_friend:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.start_puppy {
  width: auto;
}

/* section start screen styles end*/
/* section about styles start*/
.about_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_pets_img {
  width: auto;
  height: 100%;
  margin: 80px 120px 99px 175px;
}

.about_content {
  width: 430px;
  max-height: 380px;
  margin-right: 180px;
  margin-bottom: 20px;
}

.about_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 25px;
}

.about_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  opacity: 0.9;
}

.about_subheading:last-child {
  padding-top: 25px;
}

/* section about styles end*/
/* section pets styles start*/
.pets {
  background-color: #F6F6F6;
}

.pets_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pets_heading {
  font-family: "Georgia";
  font-style: normal;
  max-height: 877px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 80px 0 60px 0;
}

.carousel {
  display: flex;
  justify-content: center;
}

.slider_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 90px;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.last_item {
  margin-right: 0;
}

.name {
  margin-top: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  opacity: 0.9;
}

.learn_more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: inherit;
  margin: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  opacity: 0.9;
}

.slider_item:hover {
  cursor: pointer;
}

.slider_item:hover .learn_more {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: 0.3s;
}

.arrow_back, .arrow_forward {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-color: inherit;
  margin-top: 190px;
}

.arrow_back:hover, .arrow_forward:hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: 0.3s;
}

.arrow_back {
  margin-right: 53px;
}

.arrow_forward {
  margin-left: 53px;
}

.rest_pets {
  margin: 60px 0 100px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
}

.rest_pets:hover {
  background: #FDDCC4;
  cursor: pointer;
}

/* section pets styles end*/
/* section help styles start*/
.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 80px 0 60px 0;
}

.help_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.help_list_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
  margin-bottom: 55px;
}
.help_list_card:nth-child(5), .help_list_card:last-child {
  margin-right: 0;
}

.help_name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help_item {
  padding-bottom: 30px;
}

/* section help styles end*/
/* section in addition styles start*/
.in-addition {
  background-color: #F6F6F6;
}

.in_addition_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 90px 40px;
}

.in_addition_dog {
  margin-right: 30px;
  margin-bottom: 10px;
  max-width: 50%;
}

.in_addition_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.in_addition_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
}

.in_addition_subheading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
}

.in_addition_credit_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 349px;
  max-height: 43px;
  padding: 10px 15px;
  margin-bottom: 20px;
  background: #F1CDB3;
  border-radius: 9px;
}

.in_addition_credit_card_number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in_addition_legal_info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
  max-width: 380px;
}

/* section in addition styles end*/
/* section footer styles start*/
footer {
  background: url(/shelter/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer_locations, .footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 60px;
}

.footer_locations {
  max-width: 302px;
}

.email {
  padding: 45px 0;
}

.location_1 {
  padding: 33px 0;
}

.footer_element {
  display: flex;
  align-items: center;
}

.footer_icon {
  padding-right: 20px;
}

.footer_text {
  display: flex;
  justify-content: space-around;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

/* section footer styles end*//*# sourceMappingURL=shelter.css.map */